@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('effects.css');

$mainColor: #f16d7f;
$secondColor: #222222;
$bordersColor: #ececec;

body {
  margin: 0;
  font-family: Lato, sans-serif;
}

a:hover {
  text-decoration: none;
  color: unset;
}

select {
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.red-charachters {
  color: $mainColor !important;
}

header {
  height: 100px;
  border: 1px solid $bordersColor;
}

.container {
  width: 1140px;
  margin: 0 auto;
  height: inherit;
}

header .container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 40px;

  &__title {
    text-decoration: none;
    margin-left: 13px;
    color: $secondColor;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.68px;
    line-height: 32px;
    text-align: center;

    span {
      font-weight: 900;
    }
  }
}

.search {
  height: 38px;
  display: flex;
  align-items: center;

  &__category {
    width: 87px;
  }

  &__btn {
    border-radius: 3px;
    padding: 0 12px;
    height: inherit;
    box-sizing: border-box;
    background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid $bordersColor;
    font-size: 14px;
    line-height: 32px;
    color: $secondColor;
    font-weight: 300;
    text-align: right;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__category > i {
    color: #838383;
  }

  input {
    height: inherit;
    outline: none;
    border: none;
    margin: 0;
    box-sizing: border-box;
    border-top: 1px solid $bordersColor;
    border-bottom: 1px solid $bordersColor;
    padding: 8px;
    width: 283px;
  }

  &__btn {
    color: #a4a4a4;
  }
}

.header_menu {
  display: flex;
  margin-left: auto;
  height: 38px;
  align-items: flex-end;

  &__cart {
    & > i {
      margin-right: 15px;
      font-size: 30px;
      color: $secondColor;
      &:hover {
        -webkit-animation: swing 0.6s ease;
        animation: swing 0.6s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }
    }
  }

}

.header_menu__btn, .btn_red {
  background-color: $mainColor;
  text-decoration: none;
  width: 130px;
  border-radius: 3px;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
  justify-content: space-evenly;
  &:hover {
    transition: .3s;
    opacity: 0.8;
  }
}

nav {

}

.main_menu {
  max-width: 753px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 50px;
  border-bottom: 1px solid $bordersColor;
  margin: 0 auto;
  padding: 0;
  a {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    color: $secondColor;
    font-weight: 700;
    position: relative;
    &:after {
      opacity: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid #f16d7f;
      bottom: -5px;
      left: 0;
    }

    &:hover {
      color: $mainColor;
      transition: .3s;
      &:after {
        opacity: 1;
        transition: .3s;
      }
    }
  }
}

.promo, .offers {
  margin-bottom: 100px;
}

.promo {
  background: #e8e8e8;
  height: 615px;

  & > .container {
    background: url("../images/topHeaderBack.png") no-repeat top 0 right 30px;
    background-size: 50%;
    display: flex;
    align-items: center;
  }
}

.title {
  border-left: 8px solid $mainColor;
  padding-left: 8px;
  box-sizing: border-box;
  letter-spacing: 2px;
  color: #222222;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92px;
  margin-top: -60px;


  &__top {
    font-size: 60px;
    line-height: 42px;
  }

  &__bottom {
    font-size: 38px;
    line-height: 30px;
  }
}

.offers {
  & > .container {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 821px;
  }
}

.offer {
  width: 560px;
  padding-top: 26px;
  box-sizing: border-box;
  text-decoration: none;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: .3s;
  }

  & > * {
    display: inline-block;
  }

  &__label {
    background-color: #fff;
    padding: 16px 19px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
  }

  &__top-label {
    font-size: 18px;
    line-height: 14px;
    margin-bottom: 12px;
  }

  &__bottom-label {
    font-size: 30px;
    color: $mainColor;
    line-height: 24px;
  }
}

.offer_1 {
  height: 542px;
  background: url("../images/offer1.jpg") no-repeat;
}

.offer_2 {
  height: 261px;
  background: url("../images/offer2.jpg") no-repeat;
}

.offer_3 {
  height: 261px;
  background: url("../images/offer3.jpg") no-repeat;
}

.offer_4 {
  height: 542px;
  background: url("../images/offer4.jpg") no-repeat;
}


.catalog {

  &__footer {
    margin-bottom: 110px;
    display: flex;
    justify-content: space-between;
    & button {
      padding: 16px 46px;
      box-sizing: border-box;
      height: 44px;
      line-height: 0.5;
      border-color: $mainColor;
      color: $mainColor;

      &:hover {
        background-color: $mainColor;
      }
    }
    & .active {
      color: $mainColor !important;
    }
  }
  &__dark-placeholder {
    background: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 95px;
    left: 0;
    right: 0;
  }
  &__cart-btn {
    position: absolute;
    top: 40%;
    left: 28%;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    padding: 13px;
    box-sizing: border-box;
    border: 1px solid #fff;
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    line-height: .8;
    letter-spacing: 0.75px;
    text-align: center;
    margin-bottom: 16px;
  }

  &__subtitle {
    font-size: 14px;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: 0.35px;
    text-align: center;
    color: #9f9f9f;
    margin-bottom: 60px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    margin-bottom: 40px;
    text-decoration: none;
  }

  &__item:hover {
    box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
    transition: .5s;
    .catalog__dark-placeholder {
      transition: .5s;
      opacity: .7;
    }
  }

  &__item-title {
    font-size: 13px;
    color: #222222;
    margin: 20px 15px 17px;
    font-weight: normal;
  }

  &__item-price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 113px;
  }

  &__more-btn {
    width: unset;
    display: inline-block;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: bold;

    i {
      margin-left: 9px;
    }
  }
}

.information {
  height: 529px;
  margin-bottom: 100px;

  &__content {
    background-color: #222224;
    padding: 48px 36px;
  }

  & > .container {
    display: flex;
    position: relative;
  }

  &__sale {
    position: absolute;
    top: 130px;
    left: 39px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #ffffff;
  }

  &__sale-title {
    font-size: 53.5px;
    letter-spacing: 1.34px;
  }

  &__sale-subtitle {
    font-size: 32px;
  }

  &__item {
    display: flex;

    & > i {
      font-size: 36px;
      color: $mainColor;
    }
  }

  &__description {
    margin-left: 33px;
    margin-bottom: 42px;
    margin-top: 7px;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fbfbfb;
    margin-bottom: 17px;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.35px;
    color: #fbfbfb;
  }
}

.subscribes {
  height: 438px;
  background: url("../images/subcribes_image.png") no-repeat;
  //background-size: 100%;
  background-size: cover;

  &__avatar {
    width: 83px;
    height: 83px;
    margin-right: 38px;
  }
  & > .container {
    display: flex;
    padding-top: 111px;
    box-sizing: border-box;
  }
  &__left {
    flex-grow: 1;
    display: flex;
    width: 1px;
    padding-right: 72px;
  }

  &__left-marks {
    display: flex;
    justify-content: space-between;
    max-width: 140px;
    margin-top: 40px;

    & .active {
      background-color: $mainColor;
    }
  }

  &__left-mark {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
  }
  &__left-content {
    display: inline-block;
  }

  &__left-description {
    margin-bottom: 20px;
    font-size: 16px;
    font-style: italic;
    line-height: 1.63;
    letter-spacing: 0.4px;
    color: #222224;
  }
  &__left-autor {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.17;
    letter-spacing: 0.3px;
    color: #222224;
    span {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.63;
      letter-spacing: 0.4px;
    }
  }

  &__right {
    flex-grow: 1;
    width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222224;
    padding-top: 37px;
    box-sizing: border-box;
  }
  &__right-title {
    font-size: 24px;
    line-height: .75;
    letter-spacing: 0.6px;
    margin-bottom: 15px;
  }
  &__right-subtitle {
    font-size: 14px;
    line-height: .81;
    letter-spacing: 0.35px;
    margin-bottom: 35px;
  }
  .input__wrapper {
    height:46px;
    display: flex;
  }
  input {
    outline: none;
    height: inherit;
    width: 287px;
    border: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding: 18px 28px;
    box-sizing: border-box;
    background-color: #e1e1e1;
  }
  &__submit {
    border: none !important;
    text-decoration: none;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    width: 104px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    span {
      line-height: .8;
    }
  }
}
.footer {
  &__body {
    height: 458px;
    & > .container {
      display: flex;
      padding: 109px 0 89px;
      box-sizing: border-box;
    }
  }
  &__bottom {
    height: 80px;
    background-color: #e6e6e6;
    & > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__body-left {
    width: 430px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.35px;
    color: #898989;
    margin-right: 64px;
  }
  &__description {
    margin-top: 25px;
  }
  &__body-right {
    display: flex;
    padding-top: 14px;
    box-sizing: border-box;
    justify-content: space-between;
    flex: 1;
  }
  &__menu {
    & > ul {
      list-style-type: none;
      padding: 0;
      margin-top: 29px;
      a {
        font-size: 16px;
        line-height: 2.17;
        letter-spacing: 0.4px;
        color: #898989;
        text-decoration: none;
        &:hover {
          color: #cfcccc;
        }
      }
    }

  }
  &__menu-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    letter-spacing: 0.45px;
  }
}
.copyright {
  font-size: 16px;
  line-height: 2.63;
  letter-spacing: 0.4px;
  color: #7a7a7a;
}
.social {
  display: flex;
  width: 208px;
  justify-content: space-between;
  &__icon {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    cursor: pointer;
    &:hover {
      background-color: $mainColor;
      transition: .5s;
      i {
        color: #fff;
        transition: .5s;
      }
    }
    &:active {
      background-color: #ffffff;
      opacity: .5;
      i {
        color: #b2b2b2;
      }
    }
    i {
      font-size: 16px;
      color: #b2b2b2;
    }
  }
}

.breadcrumbs {
  height: 148px;
  background-color: #f8f3f4;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    font-size: 24px;
    font-weight: 900;
    line-height: 0.83;
  }

  &__right {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    color: #636363;
    & > ul {
      display: flex;
      & > li {
        display: flex;
        & > a {
          text-decoration: none;
          color: unset;
          &:visited {
            color: unset;
          }
        }
        & > span {
          margin: 0 3px;
        }
      }
    }
  }
}

.cart_items {
  margin-top: 70px;
  text-align: center;
  //& > .container {
  //  display: flex;
  //}
  table {
    width: 100%;
    border-spacing: unset;
    input {
      margin: 0;
      outline: none;
      display: inline-block;
      max-width: 54px;
      width: 100%;
      text-align: center;
      padding: 5px 0;
    }
  }
  th {
    border-bottom: solid 1px #eaeaea;
    &:nth-child(1) {
      text-align: left;
    }
  }
  tbody tr {
    &:hover {
      background-color: #fdfafc;
    }
  }
  tbody th {
    padding: 25px 0;

    i {
      color: #c0c0c0;
      cursor: pointer;
      &:hover {
        color: #8f8d8d;
        transition: .5s;
      }
    }
  }
  &__text, &__count {
    font-size: 13px;
    line-height: 1.54;
    color: #656565;
  }

  &__title {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: -0.2px;
    padding: 20px 0;
    box-sizing: border-box;
  }

  &__details {
    display: flex;
  }

  &__item-title {
    font-size: 13px;
    color: #222222;
    margin-bottom: 38px;
  }

  &__item-color, &__item-size {
    font-size: 13px;
    line-height: 1.54;
    color: #575757;
    font-weight: normal;
  }

  &__preview {
    margin-right: 21px;
  }

  &__count {

    border: solid 1px #eaeaea;
  }

  &__navigations {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
  }

  &__navigation_buttons {
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
    padding: 20px 40px;
    box-sizing: border-box;
    border: solid 1px #eaeaea;
    text-decoration: none;
  }

}

.buy_form {
  margin-top: 63px;
  & > .container {
    display: flex;
    justify-content: flex-start;
  }

  &__left, &__middle {
    margin-right: 36px;
    flex-grow: 1;
    align-items: flex-start;
  }

  &__left, &__right, &__middle {
    display: flex;
    flex-direction: column;
  }

  &__right {
    padding: 40px;
    box-sizing: border-box;
    max-height: 214px;
    background-color: #f5f3f3;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 22px;
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 24px;
  }

  & input {
    outline: none;
    padding: 12px 18px;
    box-sizing: border-box;
    border: solid 1px #eaeaea;
    max-width: 355px;
    width: 100%;
    font-size: 13px;
    font-weight: 300;
    color: #b1b1b1;
    margin-bottom: 20px;
  }

  &__save {
    font-size: 11px;
    font-weight: bold;
    color: #4a4a4a;
    text-decoration: none;
    padding: 12px 18px;
    box-sizing: border-box;
    border: solid 1px #eaeaea;
  }

  &__submit {
    width: unset;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    line-height: 13px;
    border: none;
    cursor: pointer;
  }

  &__subtotal, &__grandtotal {
    display: flex;
    justify-content: flex-end;
  }

  &__subtotal_title, &__subtotal_count  {
    font-size: 11px;
    font-weight: normal;
    color: #4a4a4a;
    margin-bottom: 14px;
  }

  &__grandtotal_title, &__grandtotal_count {
    font-size: 16px;
    font-weight: bold;
    color: #222222;
  }

  &__subtotal_title, &__grandtotal_title {
    margin-right: 20px;
  }

  &__devider {
    height: 1px;
    background-color: #e2e2e2;
    margin-bottom: 17px;
    margin-top: 22px;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  &__city_wrapper, &__state_wrapper {
    position: relative;
    width: 100%;
    input {
      padding: 12px 40px 12px 18px;
    }
    i {
      color: #b1b1b1;
      position: absolute;
      right: 16px;
      top: 14px;
    }
  }

}
.carousel-control-prev {
  justify-content: flex-start;
}
.carousel-control-next {
  justify-content: flex-end;
}
.slider {

  & &__indicators {
    bottom: unset;
    top: 15px;
    & > li {
      background-color: #d6d6d6;
    }

    & > .active {
      background-color: $mainColor;
    }
  }
  & &__buttons {
    padding: 11.5px 16.5px;
    background-color: #d8d8d8;
    span {
      height: 14px !important;
      width: 14px !important;
      line-height: .5 !important;
    }
  }
}
.purchase_form, .slider {
  position: relative;
}
.purchase_form {
  height: 730px;
  margin-bottom: 105px;
  .container {
    border: solid 1px #eaeaea;
    margin-top: -68px;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 70px 260px;
  }
  & &__title {
    padding: 15px;
    border-bottom: solid 1px #eaeaea;
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 18px;
    &:after {
      content: '';
      position: absolute;
      width: 63px;
      height: 100% + 3;
      border-bottom: solid 2px $mainColor;
      top: 0;
      left: 33%;
    }
  }
  & &__subtitle {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.33;
    color: #4d4d4d;
    margin-bottom: 63px;
  }

  & &__content {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: center;
    color: #5e5e5e;
    margin-bottom: 28px;
  }

  & &__properties {
    width: 330px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
  }

  & &__material, & &__designer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1.71;
    color: #b9b9b9;

    & > span {
      color: #666666;
      margin-left: 5px;
    }
  }

  & &__price {
    font-size: 24px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 43px;
    border-bottom: solid 1px #eaeaea;
  }
  & &__form {
    padding: 60px 40px;
    box-sizing: border-box;
    width: 100%;
    & > fieldset {
      display: flex;
      justify-content: space-between;
    }
  }

  & &__field {

    & > span {
      font-size: 14px;
      font-weight: bold;
      line-height: 1.71;
      color: #666666;
      margin-bottom: 16px;
      display: inline-block;
    }
  }
  &__submit {
    color: #ef5b70;
    border-color: #ef5b70;
    width: inherit;
    margin-top: 28px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0;

    & > i {
      font-weight: bold;
      margin-right: 15px;
    }

    &:hover {
      color: #fff;
      background-color: #ef5b70;
      border-color: #ef5b70;
    }
  }
}

.dropdown-toggle {
  width: 144px;
  background: none;
  border-radius: 0;
  border-color: #eaeaea;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #bcbcbc;
  &:hover,
  &:focus,
  &:active,
  .btn-secondary:not(:disabled):not(.disabled).active,
  .btn-secondary:not(:disabled):not(.disabled):active,
  .show>.dropdown-toggle
  {
    background-color: #eaeaea !important;
    border-color: #eaeaea !important;
    color: unset !important;
    box-shadow: unset !important;
  }
  &:after {
    right: 10px;
    position: absolute;
    top: 45.3%;
  }
}
.relevant {
  & &__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 0.83;
    color: #4d4d4d;
    margin: 14px 0 72px;
    text-align: center;
  }
}
.products {

  & .container {
      display: flex;
  }

  & &__left, & &__right {
    padding-top: 70px;
  }

  & &__right {
      flex: 1;
    padding-left: 50px;
  }
  & &__left {
      width: 243px;
    padding-bottom: 110px;

  }
  & .card-body {
    display: flex;
    flex-direction: column;
  }

  & &__categories {
      position: sticky;
    top: 70px;
  }

  & &__category {
    font-size: 14px;
    font-weight: normal;
    line-height: 2.36;
    color: #6f6e6e;
  }

  & &__categories-title {
    border: none;
    border-radius: unset;
    margin-bottom: 18px;
    position: relative;

    & i {
      position: absolute;
      right: 5px;
      top: calc(50% - (6px / 2));
      line-height: 0.4;
      transition: .5s;
    }


    & button, & i {
      text-decoration: none;
      color: $mainColor;
    }

    & .card-header {
      background: unset;
      position: relative;
      border: none;
      border-radius: unset;
      padding: 0;
      border-left: 5px solid $mainColor;
      margin-bottom: 0;
      &:after {
        content: '';
        position: absolute;
        width: calc(100%);
        height: calc(1px);
        border-bottom: solid 1px #ebebeb !important;
        right:0;
        bottom: 0;
      }
      & button:not(.collapsed) {
        color: #6f6e6e;
        transition: .5s;
        ~.products__categories {
          position: relative;
        }
       & > i {
         transition: .5s;
          transform: rotate(180deg);
         color: #6f6e6e;
        }

      }
    }

    & .btn {
      position: relative;
      height: 37px;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;

    }
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  & &__block {
    width: 280px;
  }

  & &__trending > &__block-body {
    width: 190px;
  }

  & &__block-body {
    display: flex;
    flex-wrap: wrap;
  }

  & a {
    font-size: 14px;
    font-weight: normal;
    color: #6f6e6e;
    display: inline-block;
  }

  & a:not(:nth-child(3n+3)):after {
    content: '|';
    margin: 0 5px;
  }

  & &__block-title {
    font-size: 14px;
    font-weight: bold;
    color: #6f6e6e;
    margin-bottom: 25px;
  }
  & &__checkbox {
    margin-right: 23px;
    min-width: 46px;
  }
  & &__size {
    & .check {
      cursor: pointer;
      position: relative;
      margin: auto;
      -webkit-tap-highlight-color: transparent;
      transform: translate3d(0, 0, 0);
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: normal;
      color: #6f6e6e;
    }
    &-body {
      display: flex;
      flex-wrap: wrap;
    }
    & .check svg {
      position: relative;
      z-index: 1;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #c8ccd4;
      stroke-width: 1.5;
      transform: translate3d(0, 0, 0);
      transition: all 0.2s ease;
      margin-right: 9px;
    }
    & .check svg path {
      stroke-dasharray: 60;
      stroke-dashoffset: 0;
    }
    & .check svg polyline {
      stroke-dasharray: 22;
      stroke-dashoffset: 66;
    }
    & .check:hover svg {
      stroke: $mainColor;
    }
    & input:checked + .check svg {
      stroke: $mainColor;
    }
    & input:checked + .check svg path {
      stroke-dashoffset: 60;
      transition: all 0.3s linear;
    }
    & input:checked + .check svg polyline {
      stroke-dashoffset: 42;
      transition: all 0.2s linear;
      transition-delay: 0.15s;
    }

  }
  & .span2 {
    -webkit-appearance: none;
  }

  & &__price-values {
    display: flex;
    justify-content: space-between;
  }

  & &__price-value {
    font-size: 14px;
    color: #6f6e6e;
  }
}

.sorter {
  height: 50px;
  background-color: #f3f3f3;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;

  & &__items {
    display: flex;
  }

  & &__selector {
    display: flex;
    border: solid 1px #ebebeb;
    background-color: #fff;
    position: relative;
    margin-right: 10px;

    & > i {
      position: absolute;
      content: '';
      right: 9px;
      font-weight: bold;
      top: calc(50% - (6px / 2));
      line-height: 0.4;
    }

    & select {
      padding-right: 34px;
      outline: none;
    }
  }

  & &__selector * {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    text-align: left;
    color: #6f6e6e;
  }

  & &__selector-label {
    display: inline-block;
    border-right: solid 1px #ebebeb;

  }

  & &__selector-label, & select {
    padding: 10px 11px;
    line-height: .75;
  }
}

  .slider-handle {
    width: 14px;
    height: 14px;
    background: $mainColor;

  }

  .slider-track {
    height: 6px !important;
    border-radius: 3px;
    background: #f0f0f0;

  }
  .slider.slider-horizontal {
    width: 100% !important;
  }

.slider-selection {
  background: $mainColor;
}

.pagination {
  display: flex;
  width: 263px;
  border: solid 1px #ebebeb;
  padding: 15px;
  box-sizing: border-box;


  & i {
    line-height: 0.8;
    font-size: 16px;
    font-weight: 300;
    color: #c4c4c4;
  }

  & &__page {
    font-size: 16px;
    font-weight: 300;
    color: #c4c4c4;
    line-height: 0.8;
    &:not(:nth-last-child(2)) {
      margin-left: 17px;
    }
  }
  & .max-value {
    margin-right: auto;
    &:before {
      content: '.....';
    }
  }
}

.horizontal {
  flex-direction: row;
  display: flex;
  height: 341px;
  align-items: center;
  justify-content: center;
  & .information__item {
    flex-direction: column;
    width: 308px;
    & > i {
      text-align: center;
    }
    &:nth-child(2) {
      margin: 0 82px;
    }
  }
  & .information__description {
    margin-bottom: unset;
    margin-left: unset;
    text-align: center;
  }
}