@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("effects.css");
body {
  margin: 0;
  font-family: Lato, sans-serif; }

a:hover {
  text-decoration: none;
  color: unset; }

select {
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.red-charachters {
  color: #f16d7f !important; }

header {
  height: 100px;
  border: 1px solid #ececec; }

.container {
  width: 1140px;
  margin: 0 auto;
  height: inherit; }

header .container {
  display: flex;
  align-items: center; }

.logo {
  display: flex;
  align-items: center;
  margin-right: 40px; }
  .logo__title {
    text-decoration: none;
    margin-left: 13px;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.68px;
    line-height: 32px;
    text-align: center; }
    .logo__title span {
      font-weight: 900; }

.search {
  height: 38px;
  display: flex;
  align-items: center; }
  .search__category {
    width: 87px; }
  .search__btn {
    border-radius: 3px;
    padding: 0 12px;
    height: inherit;
    box-sizing: border-box;
    background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #ececec;
    font-size: 14px;
    line-height: 32px;
    color: #222222;
    font-weight: 300;
    text-align: right;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .search__category > i {
    color: #838383; }
  .search input {
    height: inherit;
    outline: none;
    border: none;
    margin: 0;
    box-sizing: border-box;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 8px;
    width: 283px; }
  .search__btn {
    color: #a4a4a4; }

.header_menu {
  display: flex;
  margin-left: auto;
  height: 38px;
  align-items: flex-end; }
  .header_menu__cart > i {
    margin-right: 15px;
    font-size: 30px;
    color: #222222; }
    .header_menu__cart > i:hover {
      -webkit-animation: swing 0.6s ease;
      animation: swing 0.6s ease;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1; }

.header_menu__btn, .btn_red {
  background-color: #f16d7f;
  text-decoration: none;
  width: 130px;
  border-radius: 3px;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
  justify-content: space-evenly; }
  .header_menu__btn:hover, .btn_red:hover {
    transition: .3s;
    opacity: 0.8; }

.main_menu {
  max-width: 753px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  height: 50px;
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
  padding: 0; }
  .main_menu a {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    color: #222222;
    font-weight: 700;
    position: relative; }
    .main_menu a:after {
      opacity: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid #f16d7f;
      bottom: -5px;
      left: 0; }
    .main_menu a:hover {
      color: #f16d7f;
      transition: .3s; }
      .main_menu a:hover:after {
        opacity: 1;
        transition: .3s; }

.promo, .offers {
  margin-bottom: 100px; }

.promo {
  background: #e8e8e8;
  height: 615px; }
  .promo > .container {
    background: url("../images/topHeaderBack.png") no-repeat top 0 right 30px;
    background-size: 50%;
    display: flex;
    align-items: center; }

.title {
  border-left: 8px solid #f16d7f;
  padding-left: 8px;
  box-sizing: border-box;
  letter-spacing: 2px;
  color: #222222;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92px;
  margin-top: -60px; }
  .title__top {
    font-size: 60px;
    line-height: 42px; }
  .title__bottom {
    font-size: 38px;
    line-height: 30px; }

.offers > .container {
  display: flex;
  justify-content: space-between; }

.offers__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 821px; }

.offer {
  width: 560px;
  padding-top: 26px;
  box-sizing: border-box;
  text-decoration: none; }
  .offer:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: .3s; }
  .offer > * {
    display: inline-block; }
  .offer__label {
    background-color: #fff;
    padding: 16px 19px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222; }
  .offer__top-label {
    font-size: 18px;
    line-height: 14px;
    margin-bottom: 12px; }
  .offer__bottom-label {
    font-size: 30px;
    color: #f16d7f;
    line-height: 24px; }

.offer_1 {
  height: 542px;
  background: url("../images/offer1.jpg") no-repeat; }

.offer_2 {
  height: 261px;
  background: url("../images/offer2.jpg") no-repeat; }

.offer_3 {
  height: 261px;
  background: url("../images/offer3.jpg") no-repeat; }

.offer_4 {
  height: 542px;
  background: url("../images/offer4.jpg") no-repeat; }

.catalog__footer {
  margin-bottom: 110px;
  display: flex;
  justify-content: space-between; }
  .catalog__footer button {
    padding: 16px 46px;
    box-sizing: border-box;
    height: 44px;
    line-height: 0.5;
    border-color: #f16d7f;
    color: #f16d7f; }
    .catalog__footer button:hover {
      background-color: #f16d7f; }
  .catalog__footer .active {
    color: #f16d7f !important; }

.catalog__dark-placeholder {
  background: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 95px;
  left: 0;
  right: 0; }

.catalog__cart-btn {
  position: absolute;
  top: 40%;
  left: 28%;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  padding: 13px;
  box-sizing: border-box;
  border: 1px solid #fff; }

.catalog__title {
  font-size: 30px;
  font-weight: bold;
  line-height: .8;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 16px; }

.catalog__subtitle {
  font-size: 14px;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: 0.35px;
  text-align: center;
  color: #9f9f9f;
  margin-bottom: 60px; }

.catalog__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.catalog__item {
  position: relative;
  margin-bottom: 40px;
  text-decoration: none; }

.catalog__item:hover {
  box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
  transition: .5s; }
  .catalog__item:hover .catalog__dark-placeholder {
    transition: .5s;
    opacity: .7; }

.catalog__item-title {
  font-size: 13px;
  color: #222222;
  margin: 20px 15px 17px;
  font-weight: normal; }

.catalog__item-price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px; }

.catalog__bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 113px; }

.catalog__more-btn {
  width: unset;
  display: inline-block;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: bold; }
  .catalog__more-btn i {
    margin-left: 9px; }

.information {
  height: 529px;
  margin-bottom: 100px; }
  .information__content {
    background-color: #222224;
    padding: 48px 36px; }
  .information > .container {
    display: flex;
    position: relative; }
  .information__sale {
    position: absolute;
    top: 130px;
    left: 39px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #ffffff; }
  .information__sale-title {
    font-size: 53.5px;
    letter-spacing: 1.34px; }
  .information__sale-subtitle {
    font-size: 32px; }
  .information__item {
    display: flex; }
    .information__item > i {
      font-size: 36px;
      color: #f16d7f; }
  .information__description {
    margin-left: 33px;
    margin-bottom: 42px;
    margin-top: 7px; }
  .information__title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fbfbfb;
    margin-bottom: 17px; }
  .information__subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.35px;
    color: #fbfbfb; }

.subscribes {
  height: 438px;
  background: url("../images/subcribes_image.png") no-repeat;
  background-size: cover; }
  .subscribes__avatar {
    width: 83px;
    height: 83px;
    margin-right: 38px; }
  .subscribes > .container {
    display: flex;
    padding-top: 111px;
    box-sizing: border-box; }
  .subscribes__left {
    flex-grow: 1;
    display: flex;
    width: 1px;
    padding-right: 72px; }
  .subscribes__left-marks {
    display: flex;
    justify-content: space-between;
    max-width: 140px;
    margin-top: 40px; }
    .subscribes__left-marks .active {
      background-color: #f16d7f; }
  .subscribes__left-mark {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6; }
  .subscribes__left-content {
    display: inline-block; }
  .subscribes__left-description {
    margin-bottom: 20px;
    font-size: 16px;
    font-style: italic;
    line-height: 1.63;
    letter-spacing: 0.4px;
    color: #222224; }
  .subscribes__left-autor {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.17;
    letter-spacing: 0.3px;
    color: #222224; }
    .subscribes__left-autor span {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.63;
      letter-spacing: 0.4px; }
  .subscribes__right {
    flex-grow: 1;
    width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222224;
    padding-top: 37px;
    box-sizing: border-box; }
  .subscribes__right-title {
    font-size: 24px;
    line-height: .75;
    letter-spacing: 0.6px;
    margin-bottom: 15px; }
  .subscribes__right-subtitle {
    font-size: 14px;
    line-height: .81;
    letter-spacing: 0.35px;
    margin-bottom: 35px; }
  .subscribes .input__wrapper {
    height: 46px;
    display: flex; }
  .subscribes input {
    outline: none;
    height: inherit;
    width: 287px;
    border: none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding: 18px 28px;
    box-sizing: border-box;
    background-color: #e1e1e1; }
  .subscribes__submit {
    border: none !important;
    text-decoration: none;
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
    width: 104px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px; }
    .subscribes__submit span {
      line-height: .8; }

.footer__body {
  height: 458px; }
  .footer__body > .container {
    display: flex;
    padding: 109px 0 89px;
    box-sizing: border-box; }

.footer__bottom {
  height: 80px;
  background-color: #e6e6e6; }
  .footer__bottom > .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.footer__body-left {
  width: 430px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.35px;
  color: #898989;
  margin-right: 64px; }

.footer__description {
  margin-top: 25px; }

.footer__body-right {
  display: flex;
  padding-top: 14px;
  box-sizing: border-box;
  justify-content: space-between;
  flex: 1; }

.footer__menu > ul {
  list-style-type: none;
  padding: 0;
  margin-top: 29px; }
  .footer__menu > ul a {
    font-size: 16px;
    line-height: 2.17;
    letter-spacing: 0.4px;
    color: #898989;
    text-decoration: none; }
    .footer__menu > ul a:hover {
      color: #cfcccc; }

.footer__menu-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  letter-spacing: 0.45px; }

.copyright {
  font-size: 16px;
  line-height: 2.63;
  letter-spacing: 0.4px;
  color: #7a7a7a; }

.social {
  display: flex;
  width: 208px;
  justify-content: space-between; }
  .social__icon {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    cursor: pointer; }
    .social__icon:hover {
      background-color: #f16d7f;
      transition: .5s; }
      .social__icon:hover i {
        color: #fff;
        transition: .5s; }
    .social__icon:active {
      background-color: #ffffff;
      opacity: .5; }
      .social__icon:active i {
        color: #b2b2b2; }
    .social__icon i {
      font-size: 16px;
      color: #b2b2b2; }

.breadcrumbs {
  height: 148px;
  background-color: #f8f3f4; }
  .breadcrumbs > .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .breadcrumbs__left {
    font-size: 24px;
    font-weight: 900;
    line-height: 0.83; }
  .breadcrumbs__right {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    color: #636363; }
    .breadcrumbs__right > ul {
      display: flex; }
      .breadcrumbs__right > ul > li {
        display: flex; }
        .breadcrumbs__right > ul > li > a {
          text-decoration: none;
          color: unset; }
          .breadcrumbs__right > ul > li > a:visited {
            color: unset; }
        .breadcrumbs__right > ul > li > span {
          margin: 0 3px; }

.cart_items {
  margin-top: 70px;
  text-align: center; }
  .cart_items table {
    width: 100%;
    border-spacing: unset; }
    .cart_items table input {
      margin: 0;
      outline: none;
      display: inline-block;
      max-width: 54px;
      width: 100%;
      text-align: center;
      padding: 5px 0; }
  .cart_items th {
    border-bottom: solid 1px #eaeaea; }
    .cart_items th:nth-child(1) {
      text-align: left; }
  .cart_items tbody tr:hover {
    background-color: #fdfafc; }
  .cart_items tbody th {
    padding: 25px 0; }
    .cart_items tbody th i {
      color: #c0c0c0;
      cursor: pointer; }
      .cart_items tbody th i:hover {
        color: #8f8d8d;
        transition: .5s; }
  .cart_items__text, .cart_items__count {
    font-size: 13px;
    line-height: 1.54;
    color: #656565; }
  .cart_items__title {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: -0.2px;
    padding: 20px 0;
    box-sizing: border-box; }
  .cart_items__details {
    display: flex; }
  .cart_items__item-title {
    font-size: 13px;
    color: #222222;
    margin-bottom: 38px; }
  .cart_items__item-color, .cart_items__item-size {
    font-size: 13px;
    line-height: 1.54;
    color: #575757;
    font-weight: normal; }
  .cart_items__preview {
    margin-right: 21px; }
  .cart_items__count {
    border: solid 1px #eaeaea; }
  .cart_items__navigations {
    display: flex;
    justify-content: space-between;
    margin-top: 44px; }
  .cart_items__navigation_buttons {
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
    padding: 20px 40px;
    box-sizing: border-box;
    border: solid 1px #eaeaea;
    text-decoration: none; }

.buy_form {
  margin-top: 63px; }
  .buy_form > .container {
    display: flex;
    justify-content: flex-start; }
  .buy_form__left, .buy_form__middle {
    margin-right: 36px;
    flex-grow: 1;
    align-items: flex-start; }
  .buy_form__left, .buy_form__right, .buy_form__middle {
    display: flex;
    flex-direction: column; }
  .buy_form__right {
    padding: 40px;
    box-sizing: border-box;
    max-height: 214px;
    background-color: #f5f3f3; }
  .buy_form__title {
    font-size: 16px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 22px; }
  .buy_form__subtitle {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 24px; }
  .buy_form input {
    outline: none;
    padding: 12px 18px;
    box-sizing: border-box;
    border: solid 1px #eaeaea;
    max-width: 355px;
    width: 100%;
    font-size: 13px;
    font-weight: 300;
    color: #b1b1b1;
    margin-bottom: 20px; }
  .buy_form__save {
    font-size: 11px;
    font-weight: bold;
    color: #4a4a4a;
    text-decoration: none;
    padding: 12px 18px;
    box-sizing: border-box;
    border: solid 1px #eaeaea; }
  .buy_form__submit {
    width: unset;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    line-height: 13px;
    border: none;
    cursor: pointer; }
  .buy_form__subtotal, .buy_form__grandtotal {
    display: flex;
    justify-content: flex-end; }
  .buy_form__subtotal_title, .buy_form__subtotal_count {
    font-size: 11px;
    font-weight: normal;
    color: #4a4a4a;
    margin-bottom: 14px; }
  .buy_form__grandtotal_title, .buy_form__grandtotal_count {
    font-size: 16px;
    font-weight: bold;
    color: #222222; }
  .buy_form__subtotal_title, .buy_form__grandtotal_title {
    margin-right: 20px; }
  .buy_form__devider {
    height: 1px;
    background-color: #e2e2e2;
    margin-bottom: 17px;
    margin-top: 22px; }
  .buy_form fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%; }
  .buy_form__city_wrapper, .buy_form__state_wrapper {
    position: relative;
    width: 100%; }
    .buy_form__city_wrapper input, .buy_form__state_wrapper input {
      padding: 12px 40px 12px 18px; }
    .buy_form__city_wrapper i, .buy_form__state_wrapper i {
      color: #b1b1b1;
      position: absolute;
      right: 16px;
      top: 14px; }

.carousel-control-prev {
  justify-content: flex-start; }

.carousel-control-next {
  justify-content: flex-end; }

.slider .slider__indicators {
  bottom: unset;
  top: 15px; }
  .slider .slider__indicators > li {
    background-color: #d6d6d6; }
  .slider .slider__indicators > .active {
    background-color: #f16d7f; }

.slider .slider__buttons {
  padding: 11.5px 16.5px;
  background-color: #d8d8d8; }
  .slider .slider__buttons span {
    height: 14px !important;
    width: 14px !important;
    line-height: .5 !important; }

.purchase_form, .slider {
  position: relative; }

.purchase_form {
  height: 730px;
  margin-bottom: 105px; }
  .purchase_form .container {
    border: solid 1px #eaeaea;
    margin-top: -68px;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 70px 260px; }
  .purchase_form .purchase_form__title {
    padding: 15px;
    border-bottom: solid 1px #eaeaea;
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 18px; }
    .purchase_form .purchase_form__title:after {
      content: '';
      position: absolute;
      width: 63px;
      height: 103%;
      border-bottom: solid 2px #f16d7f;
      top: 0;
      left: 33%; }
  .purchase_form .purchase_form__subtitle {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.33;
    color: #4d4d4d;
    margin-bottom: 63px; }
  .purchase_form .purchase_form__content {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: center;
    color: #5e5e5e;
    margin-bottom: 28px; }
  .purchase_form .purchase_form__properties {
    width: 330px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px; }
  .purchase_form .purchase_form__material, .purchase_form .purchase_form__designer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 1.71;
    color: #b9b9b9; }
    .purchase_form .purchase_form__material > span, .purchase_form .purchase_form__designer > span {
      color: #666666;
      margin-left: 5px; }
  .purchase_form .purchase_form__price {
    font-size: 24px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding-bottom: 43px;
    border-bottom: solid 1px #eaeaea; }
  .purchase_form .purchase_form__form {
    padding: 60px 40px;
    box-sizing: border-box;
    width: 100%; }
    .purchase_form .purchase_form__form > fieldset {
      display: flex;
      justify-content: space-between; }
  .purchase_form .purchase_form__field > span {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.71;
    color: #666666;
    margin-bottom: 16px;
    display: inline-block; }
  .purchase_form__submit {
    color: #ef5b70;
    border-color: #ef5b70;
    width: inherit;
    margin-top: 28px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0; }
    .purchase_form__submit > i {
      font-weight: bold;
      margin-right: 15px; }
    .purchase_form__submit:hover {
      color: #fff;
      background-color: #ef5b70;
      border-color: #ef5b70; }

.dropdown-toggle {
  width: 144px;
  background: none;
  border-radius: 0;
  border-color: #eaeaea;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #bcbcbc; }
  .dropdown-toggle:hover, .dropdown-toggle:focus, .dropdown-toggle:active,
  .dropdown-toggle .btn-secondary:not(:disabled):not(.disabled).active,
  .dropdown-toggle .btn-secondary:not(:disabled):not(.disabled):active,
  .dropdown-toggle .show > .dropdown-toggle {
    background-color: #eaeaea !important;
    border-color: #eaeaea !important;
    color: unset !important;
    box-shadow: unset !important; }
  .dropdown-toggle:after {
    right: 10px;
    position: absolute;
    top: 45.3%; }

.relevant .relevant__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 0.83;
  color: #4d4d4d;
  margin: 14px 0 72px;
  text-align: center; }

.products .container {
  display: flex; }

.products .products__left, .products .products__right {
  padding-top: 70px; }

.products .products__right {
  flex: 1;
  padding-left: 50px; }

.products .products__left {
  width: 243px;
  padding-bottom: 110px; }

.products .card-body {
  display: flex;
  flex-direction: column; }

.products .products__categories {
  position: sticky;
  top: 70px; }

.products .products__category {
  font-size: 14px;
  font-weight: normal;
  line-height: 2.36;
  color: #6f6e6e; }

.products .products__categories-title {
  border: none;
  border-radius: unset;
  margin-bottom: 18px;
  position: relative; }
  .products .products__categories-title i {
    position: absolute;
    right: 5px;
    top: calc(50% - (6px / 2));
    line-height: 0.4;
    transition: .5s; }
  .products .products__categories-title button, .products .products__categories-title i {
    text-decoration: none;
    color: #f16d7f; }
  .products .products__categories-title .card-header {
    background: unset;
    position: relative;
    border: none;
    border-radius: unset;
    padding: 0;
    border-left: 5px solid #f16d7f;
    margin-bottom: 0; }
    .products .products__categories-title .card-header:after {
      content: '';
      position: absolute;
      width: calc(100%);
      height: calc(1px);
      border-bottom: solid 1px #ebebeb !important;
      right: 0;
      bottom: 0; }
    .products .products__categories-title .card-header button:not(.collapsed) {
      color: #6f6e6e;
      transition: .5s; }
      .products .products__categories-title .card-header button:not(.collapsed) ~ .products__categories {
        position: relative; }
      .products .products__categories-title .card-header button:not(.collapsed) > i {
        transition: .5s;
        transform: rotate(180deg);
        color: #6f6e6e; }
  .products .products__categories-title .btn {
    position: relative;
    height: 37px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal; }

.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px; }
  .filter .filter__block {
    width: 280px; }
  .filter .filter__trending > .filter__block-body {
    width: 190px; }
  .filter .filter__block-body {
    display: flex;
    flex-wrap: wrap; }
  .filter a {
    font-size: 14px;
    font-weight: normal;
    color: #6f6e6e;
    display: inline-block; }
  .filter a:not(:nth-child(3n+3)):after {
    content: '|';
    margin: 0 5px; }
  .filter .filter__block-title {
    font-size: 14px;
    font-weight: bold;
    color: #6f6e6e;
    margin-bottom: 25px; }
  .filter .filter__checkbox {
    margin-right: 23px;
    min-width: 46px; }
  .filter .filter__size .check {
    cursor: pointer;
    position: relative;
    margin: auto;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: normal;
    color: #6f6e6e; }
  .filter .filter__size-body {
    display: flex;
    flex-wrap: wrap; }
  .filter .filter__size .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    margin-right: 9px; }
  .filter .filter__size .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0; }
  .filter .filter__size .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66; }
  .filter .filter__size .check:hover svg {
    stroke: #f16d7f; }
  .filter .filter__size input:checked + .check svg {
    stroke: #f16d7f; }
  .filter .filter__size input:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear; }
  .filter .filter__size input:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s; }
  .filter .span2 {
    -webkit-appearance: none; }
  .filter .filter__price-values {
    display: flex;
    justify-content: space-between; }
  .filter .filter__price-value {
    font-size: 14px;
    color: #6f6e6e; }

.sorter {
  height: 50px;
  background-color: #f3f3f3;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box; }
  .sorter .sorter__items {
    display: flex; }
  .sorter .sorter__selector {
    display: flex;
    border: solid 1px #ebebeb;
    background-color: #fff;
    position: relative;
    margin-right: 10px; }
    .sorter .sorter__selector > i {
      position: absolute;
      content: '';
      right: 9px;
      font-weight: bold;
      top: calc(50% - (6px / 2));
      line-height: 0.4; }
    .sorter .sorter__selector select {
      padding-right: 34px;
      outline: none; }
  .sorter .sorter__selector * {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    text-align: left;
    color: #6f6e6e; }
  .sorter .sorter__selector-label {
    display: inline-block;
    border-right: solid 1px #ebebeb; }
  .sorter .sorter__selector-label, .sorter select {
    padding: 10px 11px;
    line-height: .75; }

.slider-handle {
  width: 14px;
  height: 14px;
  background: #f16d7f; }

.slider-track {
  height: 6px !important;
  border-radius: 3px;
  background: #f0f0f0; }

.slider.slider-horizontal {
  width: 100% !important; }

.slider-selection {
  background: #f16d7f; }

.pagination {
  display: flex;
  width: 263px;
  border: solid 1px #ebebeb;
  padding: 15px;
  box-sizing: border-box; }
  .pagination i {
    line-height: 0.8;
    font-size: 16px;
    font-weight: 300;
    color: #c4c4c4; }
  .pagination .pagination__page {
    font-size: 16px;
    font-weight: 300;
    color: #c4c4c4;
    line-height: 0.8; }
    .pagination .pagination__page:not(:nth-last-child(2)) {
      margin-left: 17px; }
  .pagination .max-value {
    margin-right: auto; }
    .pagination .max-value:before {
      content: '.....'; }

.horizontal {
  flex-direction: row;
  display: flex;
  height: 341px;
  align-items: center;
  justify-content: center; }
  .horizontal .information__item {
    flex-direction: column;
    width: 308px; }
    .horizontal .information__item > i {
      text-align: center; }
    .horizontal .information__item:nth-child(2) {
      margin: 0 82px; }
  .horizontal .information__description {
    margin-bottom: unset;
    margin-left: unset;
    text-align: center; }
